@import url("./variables.css");
@import url("./reset.min.css");
@import url("./fonts.css");

html {
  background-color: var(--lightgray);
}

html,
body {
  height: 100%;
}

#root {
  min-width: 375px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 18px;
  font-family: var(--font-poppins);
}
