.date-form-fields,
.date-form-submit-btn {
  display: flex;
  align-items: center;
  width: 100%;
}

.date-form-fields {
  gap: 16px;
  margin-bottom: 6px;
}

.date-form-submit-btn {
  position: relative;
  min-height: 54px;
  justify-content: center;
}

.date-form-submit-btn .button {
  position: absolute;
}

.date-form-submit-btn::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--lightgray);
}

@media screen and (min-width: 1024px) {
  .date-form-fields {
    gap: 32px;
  }

  .date-form .input-field {
    max-width: 150px;
  }

  .date-form-submit-btn,
  .date-form-fields {
    padding-right: 0;
  }

  .date-form-submit-btn .button {
    flex-shrink: 0;
    position: static;
  }

  .date-form .button-rounded {
    border-radius: 50%;
    padding: 24px;
  }

  .date-form .arrow-icon {
    font-size: 46px;
  }
}
