.heading {
  font-family: var(--font-poppins);
  font-size: 48px;
  font-weight: 800;
  color: var(--secondary);
  font-style: italic;
  line-height: 1.1;
}

.heading-value {
  display: inline-block;
  color: var(--primary);
  margin-right: 12px;
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: 92px;
  }
}
